/* Home.css */

.banner {
    overflow:'hidden' 
}

.banner-gradient-spots {
    width:100%;
    background: var(--primary);
    background: radial-gradient(circle at 20% 70%, rgba(225, 225, 225, 0.5) 0%, rgba(225, 225, 225, 0) 40%) ,
                radial-gradient(circle at 75% 30%, rgba(225, 225, 225, 0.4) 0%, rgba(225, 225, 225, 0) 30%),   
                var(--primary);
                
    background-size: cover;
}

.banner-container {
    /* height: 200px; */
    height: 200px;
    text-align: center;
    /* padding: 50px 0; */
    color: white;
    overflow: hidden;
    position: relative;
}

.banner-svg {
    /* background-repeat:'repeat'; */
    width:100%;
    height:100%;
    top:0%;
    position:absolute;
    opacity:55%;
}
  

.banner-title {
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 50px;
}

.banner-subtitle {
    text-align: center;
    position: relative;
    z-index: 1;
}

.btn.rounded-start-pill:hover {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}

.btn.rounded-end-pill:hover {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.info-text {
    font-size: 14px;
}

.card-size {
    min-width: 33%;
}

.info-container {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.logo-animated {
  animation: slideAndGrow 1.6s ease-out forwards;
  transform-origin: center center; /* important */
}

@keyframes slideAndGrow {
  /* 0% {
    transform: translateX(300px) scale(0.1);
    opacity: 0;
  }
  50% {
    transform: translateX(-10px) scale(1.15);
    opacity: 1;
  }
  75% {
    transform: translateX(4px) scale(0.98);
  }
  100% {
    transform: translateX(0px) scale(1);
  } */
   0% {
    transform: translate(120%, 0%) scale(0.3);
  }
  100% {
    transform: translate(40%, -50%) scale(1);
  }
}