.custom-nav {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color:white;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
}
.custom-nav a {
    /* color: #fff !important; */
}
.custom-nav a:hover  .my-svg svg{
    color: var(--secondary) !important;
    fill: var(--secondary) !important;
    /* transform:rotate(270deg) */
}
.custom-nav a:hover{
    color: var(--secondary) !important;
    fill: var(--secondary) !important;
}

.custom-nav a:active{
    color: var(--secondary) !important;
    fill: var(--secondary) !important;
    background: none !important;
}

.custom-toggle {
    color:white;
}

/* .custom-nav svg:hover {
    color: #008 !important;
} */

.my-svg svg{
    fill: #fff !important;
    height: auto !important;
    width: "40px" !important;
    /* transform:rotate(270deg) */
}
/* .my-svg svg:hover {
    fill: #008 !important;
} */