.protein-sequence {
  font-family: monospace;
}

.aa-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.position-label {
  width: 50px;
  font-size: 12px;
  color: #666;
}

.position-label.left {
  text-align: right;
  margin-right: 8px;
}

.position-label.right {
  text-align: left;
  margin-left: 8px;
}

.aa-row-content {
  display: flex;
}



.aa-block {
  display: flex;
  margin-right: 5px; /* space every 10 AAs */
}

.aa-box {
  width: 10px;
  height: 20px;
  margin: 1px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* Mutated residues */
.aa-mutated {
  background-color: #ffecb3;
  border-color: #ff9800;
}

/* Click behavior */
.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #ffe082;
  border-color: #f57c00;
  transform: scale(1.25);
}